Makefile*
!Makefile.PL

/MANIFEST
/MANIFEST.bak

/META.yml
/MYMETA.json
/MYMETA.yml

/pm_to_blib
/blib/
/inc/

/cover_db/
/nytprof/

*/tmp/
/perl5/
/*.org/

/Build
/.build/
/_build/

*#*
*_flymake.*
/scratch/

/.bash_history_local

/*.tar.gz
